# ignore all directories and files
*/
.DS_Store

# nvim ignore
nvim/tags
nvim/test.sh
nvim/.luarc.json
nvim/nvim

nvim/spell/
nvim/lazy-lock.json

# don't ignore those
!nvim/
!tmux/

# log files
*.log
