# Ignore everything
/*

# Unignore .gitignore file
!/.gitignore

# Unignore nvim and tmux directories
!/nvim/
!/tmux/
!/mc/

# Unignore all files within nvim and tmux
!/nvim/**
!/tmux/**
!/mc/**

# Ignore specific files within nvim
nvim/tags
nvim/test.sh
nvim/.luarc.json
nvim/spell/
nvim/lazy-lock.json

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log
